<template>
  <div class="row">
      <div class="col s12 center">
          <p class="center">Admin</p>
          <button
           class="btn-floating"
           @click="logout()"
           >
              <i class="material-icons">logout</i>
          </button>
      </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  name: "AdminView",
  data:()=>({
      id:null
      
  }),
  methods:{
      ...mapMutations(["logout"])
  }
};
</script>

<style>
</style>