<template>
  <div class="row">
   <div class="col s12">
     <p class="center">Home</p>
   </div>
  </div>
</template>

<script>

export default {
  name: 'HomeView',
  components: {

  }
}
</script>
