<template>
  <div class="row">
    <div class="col s12 l6 push-l3">
      <p class="center">Login</p>
      <form @submit.prevent="login(dados)">
        <div class="input-field">
          <i class="material-icons prefix">person</i>
          <input type="text" v-model="dados.username" name="username" id="username" />
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input type="email" v-model="dados.email" name="email" id="email" />
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">password</i>
          <input type="password" v-model="dados.password" name="password" id="password" />
          <label for="password">Password</label>
        </div>
        <div class="row">
          <div class="col s12">
            <button type="submit" class="btn right">
              login
              <i class="material-icons right">login</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// import Swal from 'sweetalert2'
import { mapMutations } from "vuex"; 


export default {
  name: "LoginView",
  data: () => ({
    dados:{
      username:null,
      email:null,
      password:null
    }
  }),
  methods:{
    ...mapMutations(["login"])

  }
};
</script>

<style>
</style>