<template>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li v-for="(r,index) in routes" :key="index">
          <router-link :to="r.to" v-if="index == 3 ? logado:r.show">{{ r.title }}</router-link>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li v-for="(r, index) in routes" :key="index">
      <router-link :to="r.to" v-if="index == 3 ? logado:r.show">{{ r.title }}</router-link>
    </li>
  </ul>
  <router-view />
</template>
<script>
import M from "materialize-css";
import links from "./links/links.js"
import {mapState} from "vuex";


export default {
  data: () => ({
     routes:links
  }),
  computed:{
   ...mapState({
     logado:(state)=>state.dados.logado
   })
  },
  mounted() {
    M.AutoInit();
  },
};
</script>
<style>
</style>
